@import "tailwindcss";

@layer base {
  body {
    background-color: #050507;
    margin: 0;
  }
}

/* Custom scrollbar to keep layout clean and premium */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #262626;
  border-radius: 999px;
}
::-webkit-scrollbar-thumb:hover {
  background: #404040;
}
